{% extends 'base.html.twig' %}

{% block title %}Compagnies{% endblock %}

{% block body %}
    <h1>Compagnies</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compagny.id }}</td>
            </tr>
            <tr>
                <th>CompagnyName</th>
                <td>{{ compagny.compagnyName }}</td>
            </tr>
            <tr>
                <th>CompagnyEmail</th>
                <td>{{ compagny.compagnyEmail }}</td>
            </tr>
            <tr>
                <th>CompagnyPassword</th>
                <td>{{ compagny.compagnyPassword }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_compagnies_index') }}">back to list</a>

    <a href="{{ path('app_compagnies_edit', {'id': compagny.id}) }}">edit</a>

    {{ include('compagnies/_delete_form.html.twig') }}
{% endblock %}
